@font-face {
  font-family: NeverFinishedDisplay;
  src: url(/static/fcbsix/fonts/NVRFNSHD-Display.otf);
}
@font-face {
  font-family: GothamMedium;
  src: url(/static/fcbsix/fonts/GothamMedium.otf);
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-image: url(/static/fcbsix/images/background.png);
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ebook-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#form-container {
  font-family: GothamMedium;
  color: white;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.187);
  padding: 20px;
  max-width: 450px;
  height: auto;
}

.capa-ebook {
  display: flex;
}

.capa-ebook img {
  max-width: 450px;
  height: auto;
  box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.53);
}

.top-bar,
.bottom-bar {
  position: absolute;
  height: 40px;
  width: 100%;
  background: rgb(249, 200, 13);
}

.bottom-bar {
  bottom: 0px;
  background: linear-gradient(
    8deg,
    rgba(249, 200, 13, 1) 0%,
    rgba(213, 33, 106, 1) 24%,
    rgba(134, 47, 123, 1) 52%,
    rgba(11, 106, 178, 1) 100%
  );
}

.logo-fcb {
  position: absolute;
  height: 50%;
  right: 1%;
  top: 25%;
}

.top-bar {
  top: 0px;
  background: linear-gradient(
    58deg,
    rgba(249, 200, 13, 1) 0%,
    rgba(232, 90, 54, 1) 23%,
    rgba(158, 75, 115, 1) 50%,
    rgba(81, 120, 182, 1) 100%
  );
}

.ebook-title,
.ebook-subtitle {
  color: white;
  text-align: left;
}

.ebook-title {
  margin: 0;
  margin-bottom: 5px;
  font-family: NeverFinishedDisplay;
  font-size: 3em;
}

.ebook-subtitle {
  margin-bottom: 35px;
  font-family: GothamMedium;
  font-size: 1.4em;
}

.final-text {
  font-size: 0.9em !important;
  margin: 15px 0 0 0;
}
.final-text a {
  color: rgb(255, 183, 0);
}

.form-check-label {
  font-size: 0.9em;
}

.descadastrar {
  color: white;
  font-size: 0.8em;
}

.form-descadastrar {
  font-family: GothamMedium;
  color: white;
}

.form-descadastrar div {
  margin-bottom: 10px;
}

.descadastrar:hover {
  color: rgb(255, 183, 0);
}

.top-bar-mobile {
  display: none;
  background: linear-gradient(
    8deg,
    rgba(249, 200, 13, 1) 0%,
    rgba(213, 33, 106, 1) 24%,
    rgba(134, 47, 123, 1) 52%,
    rgba(11, 106, 178, 1) 100%
  );
}

@media screen and (max-width: 1000px) {
  body {
    display: block;
    background-size: auto;
  }
  .top-bar {
    height: 20px;
  }

  .bottom-bar {
    display: none;
  }

  .ebook-title {
    margin-bottom: 5px;
    font-size: 2.5em;
  }

  .ebook-subtitle {
    margin-bottom: 15px;
    font-size: 1.2em;
  }

  .ebook-form-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #form-container {
    max-width: 100%;
    margin: 0;
    height: auto;
    padding: 5px 20px 40px 20px;
  }

  .capa-ebook {
    justify-content: center;
    align-self: center;
  }

  .capa-ebook img {
    width: 50%;
    height: auto;
  }

  .ebook-title,
  .ebook-subtitle {
    text-align: center;
  }

  .form-check-label {
    font-size: 1em;
  }

  .top-bar-mobile {
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: center;
  }

  .descadastrar {
    margin: 0 5%;
    font-size: 1em;
  }

  .form-descadastrar {
    margin: 0 5% ;
  }

  .logo-fcb {
    position: relative;
  }
}
